# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/
.env/
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Database files
*.db
*.sqlite

# Logs
*.log

# Streamlit cache
.streamlit/
